[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
influxdb-client = ">=1.31.0"
ipykernel = "*"
ipywidgets = "~=7.0"
jupyter = "*"
kaleido = "*"
matplotlib = "*"
nbconvert = {extras = ["webpdf"], version = "*"}
numpy = "*"
pandas = "*"
plotly = "*"
psycopg2-binary = "*"
scikit-learn = "*"
scipy = "*"
seaborn = "*"
sqlalchemy = "*"

[dev-packages]
mypy = "*"

[requires]
python_version = "3.10"
